{{ 'swiper-theme.css' | asset_url | stylesheet_tag }}
{{ 'custom-featured-thumbnail.css' | asset_url | stylesheet_tag }}

<style>
    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .swiper {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }

    .swiper-slide {
      background-size: cover;
      background-position: center;
    }

    .mySwiper2 {
      height: 80%;
      width: 100%;
    }

    .mySwiper {
      height: 20%;
      box-sizing: border-box;
      padding: 10px 0;
    }

    .mySwiper .swiper-slide {
      width: 25%;
      height: 100%;
      opacity: 0.4;
    }

    .mySwiper .swiper-slide-thumb-active {
      opacity: 1;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .swiper-button-next::after, .swiper-button-prev::after {
        display: none !important;
    }

    .swiper-button-next, .swiper-button-prev {
        color: #253D4E;
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 50%;
    }

    .swiper-button-next::before, .swiper-button-prev::before {
        height: 40px;
        width: 40px;
        position: absolute;
        left: 0;
        font-size: 30px;
        line-height: 40px;
        text-align: center;
        color: #000;
        -webkit-transition: 0.15s ease-in-out;
        transition: 0.15s ease-in-out;
    }

    .swiper-slide {
        border-radius: 4px;
    }

    .swiper-slide img {
        border-radius: 4px;
    }

    .mySwiper .swiper-slide-thumb-active {
        border: 1px solid #253d4e;
    }
</style>


<div class="container">
  <div class="swiper mySwiper2">
    <div class="swiper-wrapper">
        {% for image in product.images %}
            <div class="swiper-slide">
                <img src="{{ image | img_url:''}}" />
            </div>
        {% endfor %}
    </div>
    <div class="swiper-button-next" style="transform: matrix(1, 0, 0, 1, 0, 0);">
        <span class="material-symbols-outlined">
            arrow_right_alt
        </span>
    </div>
    <div class="swiper-button-prev" style="transform: matrix(1, 0, 0, 1, 0, 0);">
        <span class="material-symbols-outlined">
            arrow_left_alt
            
        </span>
    </div>
  </div>
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
        {% for image in product.images %}
        <div class="swiper-slide">
            <img src="{{ image | img_url:'450x'}}" />
        </div>
        {% endfor %}
    </div>
  </div>
</div>
<!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper(".mySwiper", {
      spaceBetween: 10,
      slidesPerView: 5,
      freeMode: true,
      watchSlidesProgress: true,
    });
    var swiper2 = new Swiper(".mySwiper2", {
      spaceBetween: 10,
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      thumbs: {
        swiper: swiper,
      },
      slidesPerView: "auto"
    });
  </script>