.number-counter {
    position: relative;
    background: transparent;
}
.number-counter:before {
    -webkit-mask-image: url(//dt-kidscool.myshopify.com/cdn/shop/files/counter_bg_img.png?v=1682492682&width=2500);
    -webkit-mask-size: cover;
    -webkit-mask-position: center center;
    background-image: url(//dt-kidscool.myshopify.com/cdn/shop/files/number-bg-psd_1e168025-0c6a-4d5d-94af-8969b5eda538.png?v=1683272356&width=2500);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 1;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #004485;
    background-attachment: fixed;
}
.number-counter-section-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 120rem;
    margin: auto;
}
.number-counter-section-wrapper:before, .number-counter-section-wrapper:after {
    content: '';
    position: absolute;
    top: 0;
    transition: all 300ms linear;
    width: 100%;
    max-width: 3rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}
.number-counter .number-counter-section-wrapper .number-counter-wrapper-image.left {
    content: "";
    position: absolute;
    width: 100%;
    max-width: 30rem;
    top: -14rem;
    left: -22%;
}
.number-counter .number-counter-section-wrapper .number-counter-wrapper-image.right {
    content: "";
    position: absolute;
    width: 100%;
    max-width: 30rem;
    top: -12rem;
    right: -22%;
}