.number-counter {
    position: relative;
    background: transparent;
}
.number-counter:before {
    -webkit-mask-image: url(//dt-kidscool.myshopify.com/cdn/shop/files/counter_bg_img.png?v=1682492682&width=2500);
    -webkit-mask-size: cover;
    -webkit-mask-position: center center;
    background-image: url(//dt-kidscool.myshopify.com/cdn/shop/files/number-bg-psd_1e168025-0c6a-4d5d-94af-8969b5eda538.png?v=1683272356&width=2500);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 1;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #154e86;
    background-attachment: fixed;
}
.number-counter-section-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 120rem;
    margin: auto;
}
.number-counter-section-wrapper:before, .number-counter-section-wrapper:after {
    content: '';
    position: absolute;
    top: 0;
    transition: all 300ms linear;
    width: 100%;
    max-width: 3rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}
.number-counter .number-counter-section-wrapper .number-counter-wrapper-image.left {
    content: "";
    position: absolute;
    width: 100%;
    max-width: 30rem;
    top: -14rem;
    left: -22%;
}
.number-counter .number-counter-section-wrapper .number-counter-wrapper-image.right {
    content: "";
    position: absolute;
    width: 100%;
    max-width: 30rem;
    top: -12rem;
    right: -22%;
}
.number-counter .number-counter-block:nth-child(odd) {
    animation-delay: .2s;
}
.number-counter .number-counter-block {
    animation: fadeInUp 1.5s ease both;
}
.number-counter-block {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.number-counter-block .svg_block {
    background-image: url(//dt-kidscool.myshopify.com/cdn/shop/files/number-bg.png?v=1683021693&width=300);
    background-size: contain;
}
.number-counter-block .svg_block {
    width: 14rem;
    height: 14rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 300ms linear;
}
.number-counter-block .description-blocks h3 {
    font-size: 3.4rem;
    margin-top: 1.5rem;
    margin-bottom: 1.2rem;
}
.number-counter :where(span.number-counter-value) {
    margin-right: 2px;
}
.number-counter :where(.number-counter-title) {
    font-family: 'Quicksand';
    font-weight: 400;
    margin: 0;
}
.number-counter-block .svg_block:hover {
    filter: drop-shadow(10px 2px 0px var(--gradient-base-accent-2));
}