.filter-button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: #4d4eff;
    flex-direction: column;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 0.8px;
    line-height: 1;
    position: relative;
    -webkit-mask-image: url(//dt-kidscool.myshopify.com/cdn/shop/files/oblong-AI.png?v=1683362356&width=300);
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    transition: all var(--duration-default) linear;
    width: 240px;
    height: 220px;
    cursor: pointer;
}
.isotope-filters .filter-button:nth-child(1) {
    background: #eb1551;
}
.isotope-filters .filter-button:nth-child(2) {
    background: #ff994e;
}
.isotope-filters .filter-button:nth-child(3) {
    background: #73be48;
}
.isotope-filters .filter-button:nth-child(4) {
    background: #1cbbb4;
}