.custom-collection .card:not(.ratio) {
    flex-direction: row;
    background-color: #e4f6fe;
    padding: 15px;
}
.custom-collection .card:not(.ratio):hover {
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    margin: 0 12px;
    background-color: #6f9cf1;
}
.custom-collection .card:not(.ratio):hover .card__content .card__information a, .custom-collection .card:not(.ratio):hover .card__content .card__information .contact-info h2{
    color: #fff;
}
.custom-collection .card:not(.ratio):hover .card__media {
    background-color: #6f9cf1;
}
.custom-collection .card__content .card__information {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.custom-collection .card__content .card__information h2 {
    margin: 0;
    font-weight: bold;
}
.custom-collection .card__content .card__information a {
    color: #253d4e;
    font-weight: bold;
    font-family: 'Chewy', sans-serif;
    font-style: normal;
}
.custom-collection .card__content .contact-info a, .custom-collection .card__content .contact-info .title {
    font-family: 'Chewy', sans-serif;
}
.custom-feature-collection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
}
.custom-feature-collection img {
    width: auto;
    max-width: 15rem;
}

.custom-feature-collection .title-icon {
    position: absolute;
    right: 50%;
    transform: translate(50%, -50%);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background-color: #B5B5B5;
    margin-bottom: 0;
    -webkit-mask-image: url('https://cdn.shopify.com/s/files/1/0625/5784/7683/files/abacus.svg');
    -webkit-mask-size: 100%;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
}

.custom-feature-collection .title-wrapper-left-image, .custom-feature-collection .title-wrapper-right-image {
    position: absolute;
    top: 0;
}

.custom-feature-collection .title-wrapper-left-image {
    left: 0;
}

.custom-feature-collection .title-wrapper-right-image {
    right: 0;
}